body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    background-image: url(picture.jfif);
}


h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 30% 70% ;
    
}

header {
    background-image: url(image.png);
    border:5px solid rgba(0, 255, 229, 0.644);
    text-align: center;

}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}



h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    background-image:url(image.png);
   border: 3px solid rgba(0, 255, 229, 0.644);
   font-weight: bold;
}
.nom{
position:relative;
left: 430px;
top: -15px;
margin-top: 10%;

}


.toto{
position:relative;
left: 170px;
top: 20px;
padding-right: 21px;
}
.contact{
display: inline-block;  
background-color: #3c921b;    
  border-radius: 50px;
  text-align: center;           
  margin-top: 30px; 
  margin-left: -23px; 
}
.skill{
display: inline-block;  
background-color: #3c921b;     
  border-radius: 50px;
  text-align: center;           
  margin-top: -25px;
  margin-left: -21px; 
}  

.education{
display: inline-block;  
background-color: #3c921b;    
  border-radius: 50px;
  text-align: center;           
  margin-top: -15px;  
  margin-left: -23px; 
}
img{
    position: absolute;
    top: -1px;
    left: 153px;
    width: 119px;
    height: 145px;
    margin-top: 5px;
    margin-bottom: 54px;
     border-radius: 50%;
}


    